@import 'layout';
@import 'navigation';
@import 'tasklist';
@import 'timer';
@import 'studbud_bar';
@import 'music';


.logo {
    display: flex;
    justify-content: center;

    img {

        width: 240px;
        height: 67px;
        margin: 6px;

        // max-width: 40%;
        // height: auto;

    }

}

h3 {
    font-family: 'Nunito';
    font-weight: 400;
}

p {
    font-family: 'Nunito';
    font-weight: 200;
}

